.flex-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  margin: 30px;
  padding: 20px;
  display: inline-flex;
}

#r1 {
	width: 300px;
	height: 500px;
	clip-path: polygon(22% 0%, 0 12%, 0% 65%, 40% 100%, 57% 100%, 16% 65%, 16% 41%, 33% 41%, 100% 100%, 100% 85%, 51% 41%, 90% 41%, 100% 35%, 100% 0%, 85% 0, 85% 33%, 16% 33%, 16% 10%, 86% 10%, 85% 0);
	margin: 0 auto;
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

#r2_1 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: polygon(0 0, 17% 0, 17% 100%, 0% 100%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
}

#r2_2 {
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: polygon(0 0, 86% 100%, 100% 100%, 14% 0);
	/*transform: rotate(-30deg);*/
	transform-origin: top left;
}

#r2_3 {
	position: absolute;
    width: 300px;
    height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: circle(19.5% at 20% 10%);
	/*transform: rotate(-30deg);*/
}

#r2_4 {
	position: absolute;
    width: 300px;
    height: 500px;
	background-color: white;
	margin: 0 auto;
	clip-path: circle(6% at 20% 10%);
	/*transform: rotate(-30deg);*/
}


#r3_1 {
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: polygon(0 17%, 29% 0%, 77% 16%, 78% 47%, 43% 71%, 0 56%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
}

#r3_2 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: polygon(0 39%, 17% 23%, 27% 29%, 27% 69%, 10% 81%, 0 78%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 40% 40%;*/
}

#r3_3 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: polygon(0 18%, 0 31%, 55% 94%, 75% 100%, 100% 84%, 25% 4%);

	/*transform:  rotate(30deg);*/
	/*transform-origin: 40% 40%;*/
}

#r3_4 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: white;
	margin: 0 auto;
	clip-path: polygon(0 17%, 29% 0%, 77% 16%, 78% 47%, 43% 71%, 0 56%);
	transform: scale(0.35, 0.35);
	/*transform:  rotate(30deg);*/
	transform-origin: 38% 38%;
}

#r4_1 {
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: polygon(0 0, 0% 100%, 100% 100%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
}

#r4_2 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: white;
	margin: 0 auto;
	clip-path: polygon(18% 47%, 18% 90%, 60% 90%);
	/*transform: scale(0.35, 0.35);*/
	/*transform-origin: 38% 38%;*/
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
}

#r4_3 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: polygon(0 0, 75% 0, 75% 33%, 0 33%);
	/*transform: scale(0.35, 0.35);*/
	/*transform-origin: 38% 38%;*/
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
}

#r4_4 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: white;
	margin: 0 auto;
	clip-path: circle(8% at 50% 16%);
	/*transform: scale(0.35, 0.35);*/
	transform-origin: 38% 38%;
}

#r5_1 {
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: circle(37% at 57% 69%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/

}

#r5_2 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: white;
	margin: 0 auto;
	clip-path: polygon(0 0, 100% 100%, 100% 0);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
}

#r5_3 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: white;
	margin: 0 auto;
	clip-path: circle(23% at 57% 69%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
}

#r5_4 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: polygon(40% 0%, 74% 21%, 40% 41%, 7% 21%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
}

#r5_5 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: white;
	margin: 0 auto;
	clip-path: polygon(40% 9%, 60% 21%, 40% 33%, 21% 21%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
}

#r5_6 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: polygon(10% 77%, 24% 77%, 13% 100%, 0% 100%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
}

#r6_1 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: polygon(43% 27%, 0% 100%, 93% 60%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

#r6_2 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: polygon(44% 17%, 55% 17%, 100% 100%, 90% 100%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

#r6_3 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: red;
	margin: 0 auto;
	clip-path: circle(33.6% at 50% 28%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
	/*background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));*/
	filter: blur(65px);
}

#r6_4 {
	position: absolute;
	width: 300px;
	height: 500px;
	background-color: white;
	margin: 0 auto;
	clip-path: circle(14% at 50% 28%);
	/*transform:  rotate(30deg);*/
	/*transform-origin: 0 100%;*/
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));