/* Marquee */
.marquee {
	font-family: 'Libre Franklin', sans-serif;
	font-style: italic;
	font-size: 35px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee span {
	font-family: 'Libre Franklin', sans-serif;
	font-style: italic;
	font-size: 35px;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
}

.marquee2 span {
	font-family: 'Libre Franklin', sans-serif;
	font-style: italic;
  animation-delay: 10s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Readings */

.readings{
	break-inside: avoid;
}

/* Signs */

.sign {
	font-family: 'Libre Franklin', sans-serif;
	font-size:11px;
	font-style: light;
	padding-bottom: 5px;
  animation-delay: 10s;
}

.result {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 24px;
	font-weight: 600;
	font-style: italic;
  animation-delay: 10s;
}


li:not(:last-child) {
		margin-top: 3px;
    margin-bottom: 3px;
}

* {
width: 100%;
padding: 0;
margin: 0;
}

html, body {
height: 100%;
}

body {
display: flex;
flex-direction: column;
}

header {
height: 50px;
/*background-color: khaki;*/
}

main {
flex: auto;
/*background-color: pink;*/
}

footer {
height: 35px;
font-size: 12px;
font-family: 'Libre Franklin', sans-serif;
/*background-color: red;*/
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
display: block;
position: absolute;
bottom: 0;
}

hr {
	border: 1px solid black;
}

hr#shortline {
	border: 1px solid black;
	width: 90%;
}


div#multicolumns {
    /*-moz-column-count: 5;
    -moz-column-gap: 20px;
    -webkit-column-count: 5;
    -webkit-column-gap: 20px;
    column-count: 5;
    column-gap: 20px;*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1%;
}

div#data {
	break-inside: avoid;
	grid-column: 1 / 5;
}
div#bg {
	break-inside: avoid;
	grid-column: 2 / 5;
}
div#spacer1 {
	break-inside: avoid;
	grid-column: 3 / 5;
}
div#spacer2 {
	break-inside: avoid;
	grid-column: 4 / 5;
}
div#prediction {
	break-inside: avoid;
	grid-column: 5 / 5;
}

/* Video */

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


