.centered {
  position: fixed;
  top: 25%;
  left: 35%;
  transform: translate(-50%, -50%);
}

div {
	display: inline;
}

p {
	display: inline;
}

a {
  color: inherit;
/*  text-decoration: inherit;*/
/*  cursor: inherit;*/
}

.main {
	font-family: 'Barlow', sans-serif;
	font-size: 35px;
}

.highlight {
	text-decoration: underline;
}



/*body {
	background: lightblue;
	}
		
.rshape{
	background: white;
	transition: background: 2s;
	onmouseover="bgRed(this)" 
	onmouseout="bgWhite(this)"
}*/

/*.rshape:hover {
	background: blue;
}*/


#footer{
	position: absolute;
  bottom: 30px;
  width: 75%;
  font-family: 'Barlow', sans-serif;
	font-size: 20px;
}

button {
	font-family: 'Barlow', sans-serif;
  background-color: black;
  border: none;
  color: black;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: inherit;
 /* margin: 2px 2px;*/
  cursor: pointer;
}

button:hover {
        background-color: transparent;
        /*color: black;*/
        transition: .75s;
      }

mark{
 background-color: black;
}